# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Outputs (keep reports, ignore the rest)
output/logs/
output/intermediate/
output/cache/
#output/reports/

# Build artifacts
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
